<script>
	import Spacer from '../spacer/index.svelte';
    import Form from '../form/index.svelte'
</script>

<div class="page">
	<div class="wrapper" id="cta">
		
		<div class="title">Откройте новые возможности</div>
		
        
	</div>
    <Form/>
    <Spacer size={64} />
</div>

<style>

	.page {
		background-color: #f0eeea;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding: 16px;
		box-sizing: border-box;
	}
	.wrapper {
		max-width: 1200px;
		padding: 32px;
		padding-top: 98px;
	}

	.title {
		font-size: 56px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 64px;
	}
	@media (max-width: 700px) {
		.title{
			font-size: 34px;
			margin-bottom: 32px;
		}
		.wrapper{
			padding-top: 64px;
		}
	}
</style>
