<script>
	import Spacer from '../spacer/index.svelte';
	import Button from '../button/index.svelte'
</script>

<div class="page">
	<div class="bg">
		<img src="/bg3.png" alt="bg"/>
	</div>
	<div class="wrapper">
		<Spacer size={64} />
		<div class="title">Вас будут консультировать действующие профессионалы в сфере IT </div>
		<Spacer size={64} />
		<div class="text">
            Нанимающие руководители крупных компаний и специалисты по различным направлениям – от продуктового и проектного менеджмента до дизайна и технической разработки
        </div>
	</div>
    <Spacer size={64} />
	<Button/>
	<Spacer size={96} />
</div>

<style>
 .bg{
      position: absolute;
      left: 0;
      top: 30px;
	  z-index: 1;
    }
	.page {
		background-color: #f0eeea;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
   
	}
	.wrapper {
		max-width: 1200px;
		padding: 32px;
	}

	.title {
		font-size: 56px;
		font-weight: bold;
		text-align: center;
	}
	
	.text {
		font-size: 36px;
		
	}
	@media (max-width: 700px) {
		.title{
			font-size: 34px;
		}
		.text{
			font-size: 24px;
			text-align: center;
		}
	}
</style>
