<script>
	import TitlePage from './_components/titlePage/index.svelte';
    import HowPage from './_components/howPage/index.svelte';
    import PricePage from './_components/pricePage/index.svelte';
    import WhoPage from './_components/whoPage/index.svelte';
    import WantMorePage from './_components/wantMorePage/index.svelte';
    import ContactPage from './_components/contactPage/index.svelte';
</script>

<div class="wrapper">
	<TitlePage />
    
    <HowPage />
    <PricePage />
    <WhoPage />
    <WantMorePage/>
    <ContactPage/>
</div>

<style>
	.wrapper {
		background-image: url(/bg1.png);
		background-repeat: no-repeat;
		background-position: top right;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
   
</style>
