<script>
	import Form from '../form/index.svelte';
	import Spacer from '../spacer/index.svelte';
    import WhoIntrested from './whoIntrested/index.svelte';
</script>
<div class="page">
	<div class="block">
		<div class="titleBlock">
			<div class="title">Карьерные консультации в IT</div>
			<Spacer size={16} />
			<div class="subtitle">Расскажем, как попасть и вырасти в IT</div>
		</div>
		<Form />
	</div>
	<Spacer size={64} />
	<WhoIntrested />
</div>

<style>
	.page {
		max-width: 1200px;
		padding: 32px;
	}
	.block {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.title {
		font-weight: 600;
		font-size: 56px;
		max-width: 600px;
		margin-right: 16px;
	}
	.subtitle {
		font-size: 24px;
	}
	@media (max-width: 900px) {
		.block{
			flex-direction: column;
		}
		.title{
			margin-right: 0;
			text-align: center;
		}
		.subtitle{
			text-align: center;
			margin-bottom: 32px;
		}
	}
	@media (max-width: 700px) {
		.title{
			font-size: 34px;
		}
		.page{
			padding: 8px;
		}
		.titleBlock{
			margin-top: 100px;
		}
		.subtitle{
			margin-bottom: 64px;
		}
	}
</style>
