<a href="#cta" class="button">Записаться на консультацию</a>
<style>
    .button {
        position: relative;
		background-color: #429677;
		color: white;
		font-size: 36px;
		font-weight: bold;
		padding: 16px 64px;
		text-decoration: none;
		z-index: 2;
		text-align: center;
	}
    .button:hover{
		background-color: #217053;
	}
	@media (max-width: 900px) {
		.button{
			font-size: 24px;
		}
	}
	@media (max-width: 700px) {
		.button{
			font-size: 16px;
		}
	}
</style>