<script>
	import Spacer from '../spacer/index.svelte';
    import {fade} from 'svelte/transition'
	let name = '';
	let phone = '';
	let isFormSubmitted = false;
	const submit = () => {
		isFormSubmitted = true;
        fetch('/submit', {method:"POST", body: JSON.stringify({name, phone})})
	};
</script>

<div class="cta">
	<div class="form" class:hidden={isFormSubmitted}>
		<div class="title">Оставьте заявку</div>
		<Spacer size={24} />
		<form name="cta" on:submit|preventDefault={submit}>
			<div class="inputWrapper">
				<input
					type="text"
					name="name"
					placeholder="Как к вам обращаться"
					required
					bind:value={name}
				/>
			</div>
			<Spacer size={24} />
			<div class="inputWrapper">
				<input type="tel" name="phone" placeholder="Ваш телефон" required bind:value={phone} />
			</div>
			<Spacer size={24} />
			<button type="submit">Отправить</button>
		</form>
	</div>
    {#if isFormSubmitted}
    <div transition:fade class="submitted">
        <div>Заявка отправлена</div>
        <Spacer size={16}/>
        <div>Скоро с вами свяжется менеджер</div>
    </div>
    {/if}
</div>

<style>
    .submitted{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 24px;
    }
    .hidden{
        visibility: hidden;
    }
	.cta {
		background-color: rgb(238, 238, 238);
		padding: 34px;
		box-sizing: border-box;
		width: 50%;
		box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        position: relative;
        z-index: 1;
	}

	.title {
		font-size: 32px;
	}
	input {
		border: none;
		background: white;
		padding: 16px;
		font-size: 16px;
		/* width: 100%; */
		flex-grow: 1;
	}
	.inputWrapper {
		width: 100%;
		display: flex;
	}
	button {
		border: none;
		background: #429677;
		color: white;
		font-size: 16px;
		width: 100%;
		text-align: center;
		padding: 16px;
		cursor: pointer;
	}
	button:hover {
		background-color: #217053;
	}
    @media (max-width: 900px) {
        .cta{
            width: 80%;
        }
    }
    @media (max-width: 700px) {
        .cta{
            width: 100%;
        }
        .title{
            font-size: 24px;
        }
    }
</style>
