<script>
	import Spacer from '../spacer/index.svelte';
	import Button from '../button/index.svelte';
	import List from '../list/index.svelte';
</script>

<div class="page">
	<div class="wrapper">
		<Spacer size={64} />
		<div class="title">Хотите больше?</div>
		<Spacer size={64} />
		<List
			list={[
				'Поможем составить резюме по выбранному направлению',
				'Разработаем индивидуальный план развития и обучения',
				'Проведем пробное собеседование по выбранной специальности'
			]}
		/>
	</div>
	<Button />
	<Spacer size={64} />
</div>

<style>
	.page {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	.wrapper {
		max-width: 1200px;
		padding: 32px;
	}

	.title {
		font-size: 56px;
		font-weight: bold;
		text-align: center;
	}
	@media (max-width: 700px) {
		.title{
			font-size: 34px;
		}
	}
</style>
