<script>
	import Spacer from '../spacer/index.svelte';
	import Button from '../button/index.svelte';
	import List from '../list/index.svelte';
</script>

<div class="page">
	<div class="wrapper">
		<div class="bg">
			<img src="/bg2.png" alt="bg" />
		</div>
		<Spacer size={64} />
		<div class="title">Как проходит консультация?</div>
		<Spacer size={64} />
		<List
			list={[
				'Наш менеджер связывается с вами, проводит краткий опрос, назначает дату консультации',
				'На консультации мы рассказываем о состоянии рынка ИТ, специфике направлений и профессий, и отвечаем на ваши вопросы',
				'Подробно разбираем ваш текущий опыт и карьерные возможности, даём рекомендации по дальнейшим действиям'
			]}
		/>
	</div>
	<Button />
	<Spacer size={64} />
</div>

<style>
	.bg {
		position: absolute;
		right: 0;
		top: 30px;
		z-index: 1;
	}
	.page {
		background-color: #f0eeea;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	.wrapper {
		max-width: 1200px;
		padding: 32px;
	}

	.title {
		font-size: 56px;
		font-weight: bold;
		text-align: center;
	}
	@media (max-width: 700px) {
		.title{
			font-size: 34px;
		}
	}
</style>
