<script>
	import Spacer from '../../spacer/index.svelte';
</script>

<div class="title">Если вы</div>
<Spacer size={32} />
<div class="items">
	<div class="item">
		<img src="item1.svg" alt="cta" />
		<div>Задумываетесь о смене деятельности</div>
	</div>
	<div class="item">
		<img src="item2.svg" alt="cta" />
		<div>Уже работаете в IT, но хотите расти</div>
	</div>
	<div class="item">
		<img src="item3.svg" alt="cta" />
		<div>Заканчиваете школу или ВУЗ и думаете, куда пойти работать</div>
	</div>
	<div class="item">
		<img src="item4.svg" alt="cta" />
		<div>Хотите лучше понимать друзей ITшников</div>
	</div>
</div>
<div class="title secondTitle">Нам точно есть, о чём поговорить</div>
<style>
	.secondTitle{
		margin-top: -32px;
		margin-bottom: 32px;
	}
	.items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.title {
		font-size: 36px;
		color: #429677;
		font-weight: bold;
		text-align: center;
	}
	.item {
		width: 50%;
		display: flex;
		align-items: center;
		font-size: 24px;
		margin-bottom: 64px;
	}
	.item div {
		margin-right: 32px;
	}
	.item img {
		display: block;
		margin-right: 16px;
	}
	@media (max-width: 900px) {
		.title {
			text-align: center;
		}
		.item {
			width: 100%;
		}
	}
	@media (max-width: 700px) {
		.title {
			font-size: 34px;
		}
		.item {
			font-size: 24px;
            flex-direction: column;
		}
		.item div {
			margin-right: 0px;
            text-align: center;
		}
		.item img {
			width: 40px;
            margin-bottom: 16px;
            margin-right: 0;
		}
	}
</style>
