<script>
    import Spacer from '../spacer/index.svelte'
    import Form from '../form/index.svelte'
</script>
<div class="page">
    <Spacer size={64} />
    <div class="title">Сколько стоит сессия?</div>
    <Spacer size={64} />
    <div class="priceBlock">
        <div class="priceContainer">
            <div class="price">5 500 ₽</div>
            <Spacer size={24}/>
            <div class="subtitle">Длительность сессии 1 час (60&nbsp;мин)</div>
        </div>
        <Form/>
    </div>
    <Spacer size={64} />
</div>
<style>
    .priceContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        font-size: 56px;
		font-weight: bold;
		text-align: center;
    }
    .page{
        max-width: 1200px;
		padding: 32px;
        z-index: 1;
        width: 100%;
        box-sizing: border-box;
    }
    .priceBlock{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .price{
        font-size: 56px;
        font-weight: bold;
        
    }
    .subtitle{
        font-size: 24px;
    }
    @media (max-width: 900px) {
        .priceBlock{
            flex-direction: column;
        }
        .subtitle{
            margin-bottom: 32px;
            text-align: center;
        }
        .page{
            padding: 8px;
        }
    }
    @media (max-width: 700px) {
		.title{
			font-size: 34px;
            text-align: center;
		}
	}
</style>