<script>
	// import Spacer from '../spacer/index.svelte';
	export let list = [];
</script>

<div class="items">
	{#each list as item, i}
		<div class="item">
			<div class="number">{i + 1}</div>
			<div class="text">
				{item}
			</div>
		</div>
	{/each}
</div>

<style>
	.items {
		display: flex;
		position: relative;
		z-index: 1;
	}
	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		margin-bottom: 54px;
		width: 33%;
	}
	.number {
		min-height: 54px;
		max-height: 54px;
		min-width: 54px;
		max-width: 54px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 32px;
		font-weight: bold;
		background-color: #429677;
		color: #fff;
		border-radius: 50%;
		margin-bottom: 24px;
	}
	.text {
		font-size: 24px;
		margin: 0 32px;
		text-align: center;
	}
	@media (max-width: 960px) {
		.items {
			display: block;
		}
		.item {
			flex-direction: row;
			width: 100%;
		}
		.text {
			text-align: left;
		}
		.number {
			margin-bottom: 0;
		}
	}
	@media (max-width: 700px) {
		.number {
			min-height: 40px;
			max-height: 40px;
			min-width: 40px;
			max-width: 40px;
			font-size: 24px;
			margin-bottom: 16px;
		}
		.text {
			font-size: 24px;
            margin: 0 0 0 16px;
			text-align: center;
		}
		.item{
			flex-direction: column;
		}
	}
</style>
